In [1]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# Importing ledger to inspect columns with categorical data.

In [3]:
key = pd.read_csv("../../data/raw/EXTR_LookUp.csv")

In [4]:
key[key.LUType==0]

Empty DataFrame
Columns: [LUType, LUItem, LUDescription]
Index: []

In [5]:
# Importing dataset and keeping running record of columns to drop later.

In [6]:
parcel_recs = pd.read_csv("../../data/raw/EXTR_Parcel.csv", dtype=str)
drop_later = ['Unnamed: 0', 'Major', 'Minor', 'PropName', 'PlatName',
              'PlatLot','PlatBlock', 'Range', 'Section', 
              'QuarterSection','PropType', 'SubArea', 'SpecArea',
              'SpecSubArea','DistrictName', 'LevyCode', 'CurrentZoning', 
              'HBUAsIfVacant','HBUAsImproved', 'PresentUse', 'WaterSystem',
              'SewerSystem','Access', 'Topography', 'StreetSurface',
              'RestrictiveSzShape','InadequateParking', 'Unbuildable',
              'MtRainier','Olympics', 'Cascades', 'Territorial',
              'SeattleSkyline', 'PugetSound','LakeWashington', 'LakeSammamish',
              'SmallLakeRiverCreek', 'OtherView','WfntLocation', 'WfntBank', 
              'WfntPoorQuality','WfntRestrictedAccess','WfntProximityInfluence',
              'LotDepthFactor','PowerLines','OtherNuisances','NbrBldgSites',
              'Contamination','DNRLease','AdjacentGolfFairway',
              'HistoricSite','CurrentUseDesignation','NativeGrowthProtEsmt', 'Easements','OtherDesignation', 
              'DeedRestrictions', 'DevelopmentRightsPurch','CoalMineHazard',
              'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
              'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
              'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
              'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
              'OtherProblems']

In [7]:
# Creating unique PIN number for each record to be used joining later.

In [8]:
parcel_recs['PIN']= parcel_recs[drop_later[1]
                               ]+parcel_recs[drop_later[2]]

In [9]:
# Checking for numerical values.

In [10]:
parcel_recs.nunique()

Unnamed: 0                205199
Major                      12226
Minor                       6060
PropName                   10056
PlatName                   11028
PlatLot                     4931
PlatBlock                    726
Range                         13
Township                       9
Section                       37
QuarterSection                 5
PropType                       7
Area                          93
SubArea                       44
SpecArea                      17
SpecSubArea                  132
DistrictName                  40
LevyCode                     470
CurrentZoning                742
HBUAsIfVacant                 22
HBUAsImproved                  5
PresentUse                   116
SqFtLot                    35710
WaterSystem                    5
SewerSystem                    5
Access                         6
Topography                     2
StreetSurface                  5
RestrictiveSzShape             2
InadequateParking              3
PcntUnusable                  65
Unbuildable                    2
MtRainier                      4
Olympics                       4
Cascades                       4
Territorial                    4
SeattleSkyline                 4
PugetSound                     5
LakeWashington                 5
LakeSammamish                  5
SmallLakeRiverCreek            4
OtherView                      4
WfntLocation                  10
WfntFootage                  348
WfntBank                       5
WfntPoorQuality                2
WfntRestrictedAccess           4
WfntAccessRights               2
WfntProximityInfluence         2
TidelandShoreland              4
LotDepthFactor                65
TrafficNoise                   4
AirportNoise                  13
PowerLines                     2
OtherNuisances                 2
NbrBldgSites                  34
Contamination                  2
DNRLease                       2
AdjacentGolfFairway            2
AdjacentGreenbelt              2
HistoricSite                   5
CurrentUseDesignation          5
NativeGrowthProtEsmt           2
Easements                      2
OtherDesignation               2
DeedRestrictions               2
DevelopmentRightsPurch         2
CoalMineHazard                 1
CriticalDrainage               1
ErosionHazard                  1
LandfillBuffer                 1
HundredYrFloodPlain            1
SeismicHazard                  1
LandslideHazard                1
SteepSlopeHazard               1
Stream                         1
Wetland                        1
SpeciesOfConcern               1
SensitiveAreaTract             1
WaterProblems                  2
TranspConcurrency              2
OtherProblems                  2
PIN                       205199
dtype: int64

In [11]:
# Investigating specific columns to verify if they are categorical or not.

In [12]:
parcel_recs.Area.unique()

array(['35', '19', '100', '1', '37', '16', '44', '62', '53', '7', '15',
       '4', '66', '67', '60', '42', '3', '96', '14', '75', '24', '72',
       '64', '27', '52', '94', '95', '25', '74', '45', '28', '51', '49',
       '50', '80', '12', '17', '46', '58', '57', '21', '32', '43', '86',
       '70', '2', '56', '71', '13', '81', '93', '38', '40', '73', '61',
       '92', '8', '82', '23', '26', '79', '48', '0', '31', '47', '20',
       '77', '55', '39', '88', '29', '30', '11', '54', '87', '34', '36',
       '33', '65', '6', '59', '69', '18', '41', '91', '68', '85', '84',
       '22', '90', '10', '63', nan, '540'], dtype=object)

In [13]:
# Converting numeric data from string.

In [14]:
numeric_par = ['SqFtLot','PcntUnusable','WfntFootage']
parcel_apply = parcel_recs[numeric_par
                          ].apply(pd.to_numeric, errors='coerce')
parcel_recs[numeric_par] = parcel_apply

In [15]:
# Reducing to residential properties then homes.

In [16]:
parcel_recs = parcel_recs[(parcel_recs.PropType == 'R')] #191968

In [17]:
# Dropping columns and rows not needed for this analysis.

In [18]:
index_names = parcel_recs[(parcel_recs.PresentUse != '6') &
                          (parcel_recs.PresentUse != '5') &
                          (parcel_recs.PresentUse != '4') &
                          (parcel_recs.PresentUse != '3') & 
                          (parcel_recs.PresentUse != '2') 
                         ].index
len(index_names) #Used as check for reasonability.

26104

In [19]:
parcel_recs.drop(drop_later, axis=1, inplace=True)

In [20]:
parcel_recs.drop(index_names, axis=0, inplace=True)

In [21]:
# Checking my work.

In [22]:
parcel_recs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165864 entries, 0 to 205198
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Township           165864 non-null  object
 1   Area               165864 non-null  object
 2   SqFtLot            165864 non-null  int64
 3   PcntUnusable       165864 non-null  int64
 4   WfntFootage        165864 non-null  int64
 5   WfntAccessRights   165864 non-null  object
 6   TidelandShoreland  165864 non-null  object
 7   TrafficNoise       165864 non-null  object
 8   AirportNoise       165864 non-null  object
 9   AdjacentGreenbelt  165864 non-null  object
 10  PIN                165864 non-null  object
dtypes: int64(3), object(8)
memory usage: 15.2+ MB

In [23]:
# Importing dataset and keeping running record of columns to drop later.

In [24]:
res_build_recs = pd.read_csv("../../data/raw/EXTR_ResBldg.csv", dtype=str)
drop_later = ['Major', 'Minor', 'StreetType','Stories',
              'BldgNbr','BuildingNumber', 'Obsolescence',
              'PcntNetCondition','NbrLivingUnits','Address',
              'BuildingNumber','Fraction','DirectionPrefix','StreetName',
              'StreetType','DirectionSuffix','ZipCode','Stories',
              'BldgGradeVar','ViewUtilization','Obsolescence', 
              'SqFt1stFloor','SqFtHalfFloor','SqFt2ndFloor',
              'SqFtUpperFloor']

In [25]:
# Creating unique PIN for joining later.

In [26]:
res_build_recs['PIN'] = res_build_recs[drop_later[0]
                                      ]+res_build_recs[drop_later[1]]

In [27]:
# Checking for numerical values.

In [28]:
res_build_recs.nunique()

Major                  11239
Minor                   5720
BldgNbr                   21
NbrLivingUnits             5
Address               178921
BuildingNumber         26978
Fraction                  43
DirectionPrefix            9
StreetName              2342
StreetType                24
DirectionSuffix           10
ZipCode                  157
Stories                    7
BldgGrade                 14
BldgGradeVar               4
SqFt1stFloor            2089
SqFtHalfFloor            396
SqFt2ndFloor            1638
SqFtUpperFloor           262
SqFtUnfinFull            128
SqFtUnfinHalf             94
SqFtTotLiving           3232
SqFtTotBasement         1053
SqFtFinBasement          909
FinBasementGrade          15
SqFtGarageBasement       425
SqFtGarageAttached       869
DaylightBasement           5
SqFtOpenPorch            673
SqFtEnclosedPorch        225
SqFtDeck                 799
HeatSystem                 9
HeatSource                 8
BrickStone                94
ViewUtilization            5
Bedrooms                  20
BathHalfCount             11
Bath3qtrCount             12
BathFullCount             11
FpSingleStory              9
FpMultiStory               6
FpFreestanding             4
FpAdditional               6
YrBuilt                  122
YrRenovated               91
PcntComplete              86
Obsolescence              68
PcntNetCondition          24
Condition                  5
AddnlCost                356
PIN                   179476
dtype: int64

In [29]:
# Investigating specific columns further.

In [30]:
res_build_recs.PcntNetCondition.unique()

array(['0', '3', '25', '4', '10', '2', '1', '43', '5', '20', '37', '60',
       '50', '99', '85', '40', '15', '44', '6', '35', '14', '100', '30',
       '33'], dtype=object)

In [31]:
# Converting numeric values from strings.

In [32]:
numeric_res = ['Bedrooms','BathHalfCount','Bath3qtrCount','BathFullCount',
               'SqFt1stFloor','SqFtHalfFloor','SqFt2ndFloor',
               'SqFtUpperFloor','SqFtUnfinFull','SqFtUnfinHalf',
               'SqFtTotLiving','SqFtTotBasement','SqFtFinBasement',
               'SqFtGarageBasement','SqFtGarageAttached','SqFtOpenPorch',
               'SqFtEnclosedPorch','SqFtDeck','YrBuilt','YrRenovated',
               'AddnlCost','PcntNetCondition'] 
res_build_recs[numeric_res] = res_build_recs[numeric_res].apply(pd.to_numeric, errors='coerce')# check FpSingleStory, FpMultiStory, and FpFreestanding,PcntNetCondition

In [33]:
# Dropping columns not needed for this analysis.

In [34]:
res_build_recs.drop(drop_later, axis=1, inplace=True)

In [35]:
# Checking my work.

In [36]:
res_build_recs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181510 entries, 0 to 181509
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   BldgGrade           181510 non-null  object
 1   SqFtUnfinFull       181510 non-null  int64
 2   SqFtUnfinHalf       181510 non-null  int64
 3   SqFtTotLiving       181510 non-null  int64
 4   SqFtTotBasement     181510 non-null  int64
 5   SqFtFinBasement     181510 non-null  int64
 6   FinBasementGrade    181510 non-null  object
 7   SqFtGarageBasement  181510 non-null  int64
 8   SqFtGarageAttached  181510 non-null  int64
 9   DaylightBasement    181510 non-null  object
 10  SqFtOpenPorch       181510 non-null  int64
 11  SqFtEnclosedPorch   181510 non-null  int64
 12  SqFtDeck            181510 non-null  int64
 13  HeatSystem          181510 non-null  object
 14  HeatSource          181510 non-null  object
 15  BrickStone          181510 non-null  object
 16  Bedrooms            181510 non-null  int64
 17  BathHalfCount       181510 non-null  int64
 18  Bath3qtrCount       181510 non-null  int64
 19  BathFullCount       181510 non-null  int64
 20  FpSingleStory       181510 non-null  object
 21  FpMultiStory        181510 non-null  object
 22  FpFreestanding      181510 non-null  object
 23  FpAdditional        181510 non-null  object
 24  YrBuilt             181510 non-null  int64
 25  YrRenovated         181510 non-null  int64
 26  PcntComplete        181510 non-null  object
 27  Condition           181510 non-null  object
 28  AddnlCost           181510 non-null  int64
 29  PIN                 181510 non-null  object
dtypes: int64(17), object(13)
memory usage: 41.5+ MB

In [37]:
# Importing dataset and keeping running record of columns to drop later.

In [38]:
rp_sales_recs = pd.read_csv("../../data/raw/EXTR_RPSale.csv", dtype=str)
drop_later = ['Major', 'Minor','ExciseTaxNbr','DocumentDate',
              'RecordingNbr','Volume', 'Page', 'PrincipalUse', 
              'AFNonProfitUse', 'PlatNbr', 'PlatType', 'PlatLot',
              'PlatBlock','AFForestLand','AFHistoricProperty', 'AFCurrentUseLand', 
              'SellerName','BuyerName','SaleInstrument','PropertyType',
              'PropertyClass', 'SaleReason']

In [39]:
# Creating unique PIN for joining later.

In [40]:
rp_sales_recs['PIN']= rp_sales_recs[drop_later[0]]+rp_sales_recs[drop_later[1]]

In [41]:
# Checking for numerical values.

In [42]:
rp_sales_recs.nunique()

ExciseTaxNbr          331698
Major                  15346
Minor                   6076
DocumentDate            1981
SalePrice              29381
RecordingNbr          306847
Volume                     1
Page                       1
PlatNbr                    1
PlatType                   1
PlatLot                    1
PlatBlock                  1
SellerName            271671
BuyerName             284701
PropertyType              80
PrincipalUse              12
SaleInstrument            25
AFForestLand               3
AFCurrentUseLand           3
AFNonProfitUse             3
AFHistoricProperty         3
SaleReason                20
PropertyClass             10
SaleWarning             1917
PIN                   252962
dtype: int64

In [43]:
rp_sales_recs.PrincipalUse.unique()

array(['7', '6', '2', '11', '4', '10', '0', '9', '8', '3', '5', '1'],
      dtype=object)

In [44]:
numeric_rp = ['SalePrice']
rp_sales_recs[numeric_rp] = rp_sales_recs[numeric_rp].apply(pd.to_numeric)

In [45]:
# Checking my work.

In [46]:
rp_sales_recs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351067 entries, 0 to 351066
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ExciseTaxNbr        351067 non-null  object
 1   Major               351067 non-null  object
 2   Minor               351067 non-null  object
 3   DocumentDate        351067 non-null  object
 4   SalePrice           351067 non-null  int64
 5   RecordingNbr        351067 non-null  object
 6   Volume              351067 non-null  object
 7   Page                351067 non-null  object
 8   PlatNbr             351067 non-null  object
 9   PlatType            351067 non-null  object
 10  PlatLot             351067 non-null  object
 11  PlatBlock           351067 non-null  object
 12  SellerName          351067 non-null  object
 13  BuyerName           351067 non-null  object
 14  PropertyType        351067 non-null  object
 15  PrincipalUse        351067 non-null  object
 16  SaleInstrument      351067 non-null  object
 17  AFForestLand        351067 non-null  object
 18  AFCurrentUseLand    351067 non-null  object
 19  AFNonProfitUse      351067 non-null  object
 20  AFHistoricProperty  351067 non-null  object
 21  SaleReason          351067 non-null  object
 22  PropertyClass       351067 non-null  object
 23  SaleWarning         351067 non-null  object
 24  PIN                 351067 non-null  object
dtypes: int64(1), object(24)
memory usage: 67.0+ MB

In [47]:
# Reducing to residential then homes for the purpose of this analysis.

In [48]:
rp_sales_recs = rp_sales_recs[rp_sales_recs.PrincipalUse == '6']
len(rp_sales_recs) #266390

266390

In [49]:
index_to_drop = rp_sales_recs[(rp_sales_recs.PropertyType != '11') &
                              (rp_sales_recs.PropertyType != '12') &
                              (rp_sales_recs.PropertyType != '13')].index
                             

len(index_to_drop)

176325

In [50]:
# Dropping columns and rows not needed for this analysis

In [51]:
rp_sales_recs.drop(index_to_drop, axis=0, inplace=True)

In [52]:
rp_sales_recs.drop(drop_later, axis=1, inplace=True)

In [53]:
# Checking my work

In [54]:
rp_sales_recs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90065 entries, 9 to 351065
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SalePrice    90065 non-null  int64
 1   SaleWarning  90065 non-null  object
 2   PIN          90065 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.7+ MB

In [55]:
pre_df = parcel_recs.merge(res_build_recs, on='PIN', how='inner')
df = pre_df.merge(rp_sales_recs, on='PIN', how='inner')
df.tail()

,Township,Area,SqFtLot,PcntUnusable,WfntFootage,WfntAccessRights,TidelandShoreland,TrafficNoise,AirportNoise,AdjacentGreenbelt,PIN,BldgGrade,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Condition,AddnlCost,SalePrice,SaleWarning
82313,25,14,5320,0,0,N,0,0,0,N,5017000200,8,0,0,1450,0,0,0,0,0,N,0,0,200,5,2,0,4,0,0,2,1,0,0,0,1950,2000,0,3,0,1190000,
82314,21,52,8750,0,0,N,0,0,0,N,7205200205,8,0,0,2710,1300,840,7,460,0,Y,50,0,510,5,3,0,4,0,2,1,1,1,0,1,1978,0,0,3,0,344400,11 15
82315,25,68,17256,0,0,N,0,0,0,N,3425059008,7,0,0,2900,0,0,0,0,0,N,340,0,0,1,2,0,6,0,0,3,0,0,0,0,1910,1989,0,3,0,1100000,
82316,23,85,5188,0,0,N,0,0,0,N,0421000035,6,0,0,1060,0,0,0,0,0,N,0,0,0,1,2,0,3,0,0,1,0,0,0,0,1953,0,0,4,0,278000,
82317,21,28,11538,0,0,N,0,0,0,N,6131600045,6,0,0,1200,0,0,0,0,0,N,0,0,0,5,1,0,3,0,0,1,1,0,0,0,1953,0,0,4,0,285500,

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82318 entries, 0 to 82317
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Township            82318 non-null  object
 1   Area                82318 non-null  object
 2   SqFtLot             82318 non-null  int64
 3   PcntUnusable        82318 non-null  int64
 4   WfntFootage         82318 non-null  int64
 5   WfntAccessRights    82318 non-null  object
 6   TidelandShoreland   82318 non-null  object
 7   TrafficNoise        82318 non-null  object
 8   AirportNoise        82318 non-null  object
 9   AdjacentGreenbelt   82318 non-null  object
 10  PIN                 82318 non-null  object
 11  BldgGrade           82318 non-null  object
 12  SqFtUnfinFull       82318 non-null  int64
 13  SqFtUnfinHalf       82318 non-null  int64
 14  SqFtTotLiving       82318 non-null  int64
 15  SqFtTotBasement     82318 non-null  int64
 16  SqFtFinBasement     82318 non-null  int64
 17  FinBasementGrade    82318 non-null  object
 18  SqFtGarageBasement  82318 non-null  int64
 19  SqFtGarageAttached  82318 non-null  int64
 20  DaylightBasement    82318 non-null  object
 21  SqFtOpenPorch       82318 non-null  int64
 22  SqFtEnclosedPorch   82318 non-null  int64
 23  SqFtDeck            82318 non-null  int64
 24  HeatSystem          82318 non-null  object
 25  HeatSource          82318 non-null  object
 26  BrickStone          82318 non-null  object
 27  Bedrooms            82318 non-null  int64
 28  BathHalfCount       82318 non-null  int64
 29  Bath3qtrCount       82318 non-null  int64
 30  BathFullCount       82318 non-null  int64
 31  FpSingleStory       82318 non-null  object
 32  FpMultiStory        82318 non-null  object
 33  FpFreestanding      82318 non-null  object
 34  FpAdditional        82318 non-null  object
 35  YrBuilt             82318 non-null  int64
 36  YrRenovated         82318 non-null  int64
 37  PcntComplete        82318 non-null  object
 38  Condition           82318 non-null  object
 39  AddnlCost           82318 non-null  int64
 40  SalePrice           82318 non-null  int64
 41  SaleWarning         82318 non-null  object
dtypes: int64(21), object(21)
memory usage: 27.0+ MB

In [57]:
# Removing column no longer needed.

In [58]:
df.drop(columns=['PIN'], inplace=True)

In [59]:
# Reordering to have target variable first.

In [60]:
cols = list(df.columns)
cols = [cols[-2]] + cols[:-2] + cols[-1:]
df = df[cols]

In [61]:
# Checking my work

In [62]:
df.head()

,SalePrice,Township,Area,SqFtLot,PcntUnusable,WfntFootage,WfntAccessRights,TidelandShoreland,TrafficNoise,AirportNoise,AdjacentGreenbelt,BldgGrade,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Condition,AddnlCost,SaleWarning
0,847888,25,35,7424,0,0,N,0,0,0,N,8,0,0,2200,0,0,0,0,460,N,0,0,0,5,2,0,4,1,1,1,0,1,0,0,1987,0,0,3,0,
1,819000,25,19,5000,0,0,N,0,0,0,N,7,0,0,1800,990,990,7,0,0,N,180,0,120,5,2,0,2,1,0,1,0,1,0,0,1923,0,0,4,0,
2,875000,25,44,3600,0,0,N,0,0,0,N,8,0,0,1890,750,0,0,220,0,,190,0,0,5,1,0,4,0,0,1,0,1,0,0,1919,0,0,3,0,
3,249950,26,7,7750,0,0,N,0,1,0,N,8,0,0,3340,2180,960,8,750,0,,250,0,0,5,2,0,5,1,1,2,2,0,0,0,2019,0,58,3,5000,10
4,780000,23,66,36154,0,1,N,0,0,0,N,8,0,0,2660,310,310,7,0,530,Y,170,0,100,5,3,0,3,1,1,1,0,1,1,0,1985,0,0,4,0,

In [63]:
df.describe()

,SalePrice,SqFtLot,PcntUnusable,WfntFootage,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,SqFtGarageBasement,SqFtGarageAttached,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,YrBuilt,YrRenovated,AddnlCost
count,8.231800e+04,8.231800e+04,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000,82318.000000
mean,5.817493e+05,1.789415e+04,0.005795,1.906230,0.815739,0.650016,2176.418985,508.460543,322.329928,79.873041,272.266017,74.038691,5.866323,138.946998,3.474003,0.451214,0.502988,1.572354,1969.990488,110.124784,702.384242
std,5.961894e+05,6.157325e+04,0.550456,18.277393,23.095043,18.463223,993.842956,608.867441,478.828066,186.023696,292.924556,131.838784,40.237365,534.852131,0.960269,0.534027,0.660308,0.710244,29.804896,456.205620,2633.661911
min,-2.000000e+02,5.480000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,0.000000
25%,2.607328e+05,5.800000e+03,0.000000,0.000000,0.000000,0.000000,1480.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1.000000,1950.000000,0.000000,0.000000
50%,4.999000e+05,8.016000e+03,0.000000,0.000000,0.000000,0.000000,2010.000000,0.000000,0.000000,0.000000,230.000000,30.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1.000000,1970.000000,0.000000,0.000000
75%,7.850000e+05,1.143375e+04,0.000000,0.000000,0.000000,0.000000,2671.000000,1010.000000,640.750000,0.000000,480.000000,100.000000,0.000000,210.000000,4.000000,1.000000,1.000000,2.000000,1994.000000,0.000000,0.000000
max,2.675000e+07,4.638269e+06,100.000000,1610.000000,1560.000000,1320.000000,14980.000000,6910.000000,5110.000000,4000.000000,3450.000000,11570.000000,2750.000000,140000.000000,31.000000,10.000000,12.000000,7.000000,2020.000000,2020.000000,90000.000000

In [64]:
# Saving dataframe for use in analysis.

In [65]:
df.to_csv('merged_data.csv', index=False)